@page "{courseId}"
@model DigiLearn.Web.Pages.Profile.Teacher.Courses.Section.IndexModel
@{
    ViewData["Title"] = "مدیریت فصل های دوره"+$"'{Model.Course.Title}'";
    Layout = "Shared/_ProfileLayout";
}
<div class="row ">
        <a asp-page="Add" asp-route-courseId="@Model.Course.Id" class="btn btn-save mr-2 mb-4 float-right">ثبت فصل جدید</a>
    <div class="col-12 info shadow pl-0 pr-0">
        <p class="title">
            <i class="fa fa-paper-plane"></i>
            @ViewData["Title"]
        </p>
        <div class="info-body">
            <div id="accordion">
                @foreach (var item in Model.Course.Sections.OrderBy(x => x.DisplayOrder))
                {
                    <div class="card">
                        <div class="card-header" id="a_@item.Id">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="a_@item.Id" aria-expanded="true" aria-controls="a_@item.Id">
                                    @item.Title
                                </button>
                            </h5>
                        </div>

                        <div id="a_@item.Id" class="collapse show" aria-labelledby="a_@item.Id" data-parent="#accordion">
                            <div class="card-body">
                                <a asp-page="Episodes/Add" asp-route-courseId="@Model.Course.Id"
                                asp-route-sectionId="@item.Id" class="btn btn-save mr-2 mb-4 float-right">ثبت قسمت جدید</a>

                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <td>عنوان</td>
                                            <td>زمان</td>
                                            <td>وضعیت</td>
                                            <td>عملیات</td>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            var countier = 1;
                                        }
                                        @foreach (var episode in item.Episodes)
                                        {
                                            <tr>
                                                <th>@countier</th>
                                                <th>@episode.Title</th>
                                                <th>@episode.TimeSpan</th>
                                                <th>
                                                    @if (episode.IsActive)
                                                    {
                                                        <label>فعال</label>
                                                    }
                                                    else
                                                    {
                                                        <label>غیر فعال</label>
                                                    }
                                                </th>
                                                <th></th>
                                            </tr>
                                             countier += 1;
                                        }
                                        @if (Model.Course.Sections.Count == 0)
                                        {
                                            <tr>
                                                <td colspan="5">موردی برای نمایش وجود ندارد</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
